@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

@font-face {
	font-family: "Integral CF";
	src: url("./assets/fonts/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf");
	font-weight: bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
	color: #000;
	font-family: Satoshi;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

p {
	color: rgba(0, 0, 0, 0.6);
}

h1,
h2 {
	color: #000;
	font-family: "Alfa Slab One";
	font-style: normal;
	font-weight: 400;
}

h1 {
	font-size: 64px;
	line-height: 64px; /* 100% */
}

h2 {
	text-align: center;
	font-size: 48px;
	line-height: normal;
}
h3 {
	font-size: 40px;
	font-weight: 700;
}

.logo {
	color: #000;
	font-family: "Alfa Slab One";
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.small-info {
	color: rgba(0, 0, 0, 0.6);
	line-height: 22px; /* 137.5% */
}

footer p {
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
}

footer h6 {
	line-height: 18px; /* 112.5% */
	letter-spacing: 3px;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	p {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px; /* 142.857% */
	}

	header p,
	header span {
		font-size: 12px;
	}

	h1,
	h2,
	h3 {
		font-family: "Integral CF";
	}

	h1 {
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 34px; /* 94.444% */
	}


	h3 {
		font-size: 24px;
	}

	h6 {
		font-weight: 500;
	}

	.logo {
		font-family: "Integral CF";
		font-size: 28.847px;
	}

	
}

@media screen and (max-width: 1200px) {
	h1 {
		font-size: 48px;
	}
	.small-info {
		font-size: 12px;
	}
	h3 {
		font-size: 24px;
		font-family: "Integral CF";
	}
}
